# Copy this file to .env and replace the credentials with 
# your own before running the console app.

# Event Streams (NOTE: remove all quotes and spaces from values)
KAFKA_BROKERS_SASL=<add_brokers>
KAFKA_HTTP_URL=<add_url>
PASSWORD=<add_password>

# User and Topic name are set to default values. Change if needed
USER=token
TOPIC=clicks
